.welcome-courses{
  background-color: var(--bg-primary);
  height: 50vh;
  display: flex;
  text-align: center;
  margin-bottom: var(--spacing-xl);
}

.welcome-courses h1{
  color:var(--text-light);
}